<div class="body-content-wrapper" ng-controller="landingController">
	<div class="row">
		<div class="col-md-3">
			<div class="cube categories-bg text-center show-cursor" ng-click="categories()">
				<h3 class="cube-header white">Categories</h3>
				<i class="white categories-icon icon ion-ios-folder-outline"></i>
			</div>
		</div>
		<div class="col-md-3">
			<div class="cube products-bg text-center show-cursor" ng-click="products()">
				<h3 class="cube-header white">Products</h3>
				<i class="white products-icon icon ion-ios-cart-outline"></i>
			</div>
		</div>
	</div>
</div>
<link href="css/app-landing.css" rel="stylesheet">