<!DOCTYPE html>
<html>
	<head>
		<title>Landing Page</title>
		<link href="css/lib/bootstrap.min.css" rel="stylesheet">
    	<link href="css/lib/ionicons.min.css" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="container">
			<h1>Welcome to the SOA example.</h1>

			<%if (user) { %>
				<div>You're Logged In!</div>
				<div>User: <%= user.emailAddress %> </div>
				<div>Access Token: <%= user.accessToken %> </div>

				<div>
					<a class="btn btn-primary" href="/logout">Log-out</a>
				</div>

				<div>
					<a class="btn btn-primary" href="/authenticated">Go to App</a>
				</div>


			<% } else{ %>

				<div>You're Not Logged In</div>

				<a class="btn btn-primary" href="/login">Log-in</a>

			<% } %>
		</div>

	</body>
</html>