<!DOCTYPE html>
<html>
	<head>
		<title>Landing Page</title>
		<link href="css/lib/bootstrap.min.css" rel="stylesheet">
    	<link href="css/lib/ionicons.min.css" rel="stylesheet">
    	<link href="css/signin.css" rel="stylesheet">
    	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>
	<body>
		<div class="container">

			<form class="form-signin" action="/login" method="post">
				<h2 class="form-signin-heading">Please sign in</h2>
				<label for="inputEmail" class="sr-only">Email address</label>
				<input type="email" name="username" class="form-control" placeholder="Email address" required autofocus>
				<label for="inputPassword" class="sr-only">Password</label>
				<input type="password" name="password" class="form-control" placeholder="Password" required>
				<input class="btn btn-lg btn-primary btn-block" type="submit"></input>
			</form>
		</div>
	</body>
</html>